html,
body {
   margin:0;
   padding:0;
   height:100%;   
   background-image: url(../imgs/background.jpg);	
}

#container {
   min-height:100%;
   position:relative;   
}

#body{
    padding-bottom: 50px;
}

/*#body {
    
  padding-top: 20px;   
  background-color : gray; 
  padding-bottom:40px;
  
}*/

.navbar.brand {
	
	text-shadow : 1px 1px 1px #333;
	text-align:center;
	text-decoration : none;
	
}

#footer{
	position:absolute;   
	background-color: #222;
  	bottom:0;
   	width:100%;
   	height:40px; 
   	text-shadow: 0 1px 2px rgba(0,0,0,0.5);  
   	color:white;
   	padding: 20px 0px 10px 0px; 
}

.ui-growl {
	position: fixed;
	top: 50px;
	z-index: 9999;
}
/*.ui-accordion .ui-accordion-header .ui-icon { display: block; }*/

#myFieldSet ui-fieldset-legend ui-corner-all ui-state-default ui-state-active {
    width: 95%;
    
}

.panelHalf{
    vertical-align: top;
    width: 50%
}

.ui-autocomplete-input{
    width: 500px;
}

.colstyle{
    width: 33%;
    text-align: center
}

.colstyle2{
    width: 60%;
    text-align: center
}

.colstyle3{
    width: 20%;
    text-align: center
}

.fileupload-content .start{
    display: none !important;
}